<!DOCTYPE html>
<html>
<head>
<title>Report</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/CSS/reportTable.css">
<link rel="stylesheet" href="/public/CSS/navbar.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<style> 
</style>
</head>
{{>navbar_admin}}
<div class="report-container" id="report-container">
<div class="row">
<div class="column">
<div class="label">Date and time of report generation :</div>
<div class="value">{{formatDate payload.DToRG}}</div>
</div>
<div class="column">
<div class="label">User ID of report generator :</div>
<div class="value">{{payload.UserID}}</div>
</div>
</div>
<div class="row">
<div class="column">
<div class="label">BID :</div>
<div class="value">{{beneficiary.bid}}</div>
</div>
<div class="column">
<div class="label">Name :</div>
<div class="value">{{beneficiary.name}}</div>
</div>
</div>
<div class="row">
<div class="column">
<div class="label">Aadhar Card No. :</div>
<div class="value">{{beneficiary.AadharNo}}</div>
</div>
<div class="column">
<div class="label">Time of of Bid Reg. :</div>
<div class="value">{{formatDate beneficiary.ToBR}}</div>
</div>
</div>
<div class="row">
<div class="column">
<div class="label">Registered by (HCID) :</div>
<div class="value">{{beneficiary.registeredBy.hcid}}</div>
</div>
<div class="column">
<div class="label">Total No. of Services Availed :</div>
<div class="value">{{payload.completedTokenCount}}</div>
</div>
</div>
</div>
<div class="container_1">
    <button id="button1" class="button">BID-Token Summary<i class='bx bxs-chevrons-down'></i></button>
</div>
<div class="scroll-container">
<table class="table" id="table1">
    <thead>
    <th>S.No</th>
    <th>TID</th>
    <th>HCID</th>
    <th>ROID</th>
    <th>ToTG</th>
    <th>UCID</th>
    <th>ToTS</th>
    <th>Token Status</th>
    </thead>
    <tbody>
        {{#each Tokens}}
        <tr>
        <td data-label="S.No">{{@index}}</td>
        <td data-label="TID">{{this.TokenID}}</td>
        <td data-label="BID">{{this.bid}}</td>
        <td data-label="HCID">{{this.assignedBy.hcid}}</td>
        <td data-label="ROID">{{this.roid}}</td>
        <td data-label="ToTG">{{formatDate this.ToTC}}</td>
        <td data-label="UCID">{{this.completedBy.ucid}}</td>
        <td data-label="ToTS">{{formatDate this.ToTS}}</td>
        <td data-label="Token Status">{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table> 
</div>
<script src="/public/js/navbar.js"></script>
</script>
</body>
</html>